<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel=stylesheet type="text/css" href="../homepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">


</head>

<body>
    <!-- <ul class="nav nav-tabs">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Take Tutions</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/take_tutions/academics">Academics</a></li>
                <li><a class="dropdown-item" href="/take_tutions/extra-Curricular">Extra-Curricular</a></li>

            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">Give Tutions</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/give_tutions/academics">Academics</a></li>
                <li><a class="dropdown-item" href="/give_tutions/extra-Curricular">Extra-Curricular</a></li>
            </ul>
        </li>

    </ul> -->

    <ul class="nav nav-tabs">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">LOGIN</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login/student">Student</a></li>
                <li><a class="dropdown-item" href="/login/teacher">Teacher</a></li>

            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                aria-expanded="false">SIGN UP</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/register/student">Student</a></li>
                <li><a class="dropdown-item" href="/register/teacher">Teacher</a></li>
            </ul>
        </li>

    </ul>


    <div class="centre_slide">


        <div id="carouselExample" class="carousel slide ">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <img src="\images\test.jpeg " class="d-block w-100 slide" alt="..."> -->
                    <h1>About US</h1>
                    <p>
                        Welcome to Study Buddy, your premier destination for connecting students and tutors! We understand that education is 
                        a journey, and finding the right tutor or student can make all the difference in achieving your academic goals. 
                        At Study Buddy, our mission is to bridge the gap between eager learners and dedicated tutors. We believe that everyone has the potential to excel 
                        in their studies, and our platform is designed to make that potential a reality. We aim to create a thriving community of educators and students 
                        who are passionate about learning and teaching.
                    </p>
                </div>
                <div class="carousel-item">
                    <!-- <img src="\images\test.jpeg" class="d-block w-100 slide" alt="..."> -->
                    <h1>Why Choose Us?</h1>
                    <h6>1. Extensive Network:</h6>
                    <p>We have a vast network of experienced tutors and enthusiastic students, ensuring that you'll find the perfect match for your educational needs.</p>
                    <h6>2. Quality Assurance:</h6>
                    <p>
                        We carefully vet our tutors to ensure they have the expertise and dedication 
                        required to help students succeed. Likewise, we encourage students to showcase their commitment to learning.
                    </p>
                    <h6>3. Personalized Connections:</h6>
                    <p>We understand that each student is unique, with their own learning style and goals. 
                        That's why we facilitate personalized connections between students and tutors, fostering productive and effective learning experiences.</p>
                </div>
                <div class="carousel-item">
                    <!-- <img src="\images\test.jpeg" class="d-block w-100 slide" alt="..."> -->
                    <h1>How it Works</h1>
                    <h6>For Tutors</h6>
                    <p>Sign Up as a tutor and then you can create the applications.Specify the subjects you're proficient in and want to teach. 
                        along will other required details under the give tutions option.This information will help students find you easily when searching for tutors.</p>
                    <h6>For Students</h6>
                    <p>Sign up for your account by clicking the "Sign Up" option.Explore our extensive list of tutors who are ready to assist you.
                         Use filters to refine your search based on subjects, location, and availability.
                         Click on tutor profiles to learn more about their qualifications, teaching style.</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    
    </div>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../browser.js"></script>





</body>

</html>