<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../homepage.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
   


    <form id="form_reg" class="form">
        <h5>REGISTER/TEACHER</h5>
        <label for="name" class="form-label">NAME</label>
        <input type="text" id="name_reg" name="name" class="form-input" required><br><br>

        <label for="email_reg" class="form-label">EMAIL</label>
        <input type="email" id="email_reg" name="email" class="form-input" required><br><br>

        <label for="password" class="form-label">PASSWORD</label>
        <input type="password" id="password_reg" name="password" class="form-input" required><br><br>

        <button type="submit" id="registration_sub">SUBMIT</button><br><br>
        <h5>Already Signed Up? <a href="/login/teacher">Login</a></h5>

    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../register_teacher.js"></script>
</body>

</html>